<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artists</key>
	<dict>
		<key>0</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Bob</string>
			<key>bio</key>
			<string></string>
			<key>interview</key>
			<string></string>
		</dict>
		<key>1</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>bio</key>
			<string></string>
			<key>interview</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>bio</key>
			<string></string>
			<key>interview</key>
			<string></string>
		</dict>
	</dict>
	<key>beacon2art</key>
	<dict>
		<key>1507110507</key>
		<string>0</string>
		<key>4556564072</key>
		<string>1</string>
		<key>6046356367</key>
		<string>2</string>
		<key>4967229621</key>
		<string>3</string>
		<key>54450962</key>
		<string>4</string>
		<key>236807349</key>
		<string>5</string>
	</dict>
	<key>blacklist</key>
	<dict>
		<key>1507110507</key>
		<string>1</string>
		<key>4967229621</key>
		<string>3</string>
		<key>54450962</key>
		<string>4</string>
		<key>236807349</key>
		<string>5</string>
	</dict>
	<key>works</key>
	<dict>
		<key>0</key>
		<dict>
			<key>image</key>
			<string>background</string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>0</string>
		</dict>
		<key>1</key>
		<dict>
			<key>image</key>
			<string>background2</string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>0</string>
		</dict>
		<key>2</key>
		<dict>
			<key>image</key>
			<string>background3</string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>0</string>
		</dict>
		<key>3</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>1</string>
		</dict>
		<key>4</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>2</string>
		</dict>
		<key>5</key>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>caption</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>artist</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
